footer {
  .about {
    font-size: 0.9rem;
  }
  .info {
    width: 100%;
    height: 100px;
  }
}

.second-footer {
  background: darken($secondary, 20%);
  font-size: 0.9rem;
  text-align: center;
}
